@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:300,400,500');


body {
  font-family: 'LibreFranklin';
  background-color: #fde5db;}



  /* old styling 
.ImgWithText{
    position: relative;
}

.ImageText{
    position: absolute;
    top: 20px;
    left:20px;
    color:black;
    background-color:white;
    padding-left: 20px;
    padding-right:20px;
}

.readmore{
    opacity:0.5;
    filter: alpha(opacity=50);  For IE8 and earlier */

.blockquote{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 50px;
  }

.card-group {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 16px;
        padding: 16px;
        grid-auto-rows: 1fr; 
      }
      
.card{
    background-color:#fde5db;
    border: none;
    font-family: 'LibreFranklin';
}   

.card-title h5,p{
    font-weight: bold;
    font-size:50px;
}

.btn-primary{
    color: #fff;
    background-color:#d2a9b8;
    border-color:#d2a9b8;
    
}

.ClickHere{
    font-style: normal;
    text-align: center;
    color: #003a83;
    font-family: 'LibreFranklin';
    font-size: 25px;
  }
  
  
  .CaseStudies{
    font-style:italic;
    text-align: center;
    color: #003a83;
    font-family:'LibreFranklin';
    font-size:25px;
  }
  
  .LinkedIn{
    font-style: italic; 
    text-align: center;
    color: #003a83;
    font-family: 'LibreFranklin';
    font-size: 25px;
  }
  
  
  .Behance{
    font-style: italic; 
    text-align: center;
    color: #003a83;
    font-family: 'LibreFranklin';
    font-size: 25px;
  }
  /* @media screen and (max-width: 900px){
    .blockquote {
      font-size: 24px;
    } */

